body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.6;
}

h1 {
    color: #b22222; /* Deep Red */
    text-align: center;
    margin-bottom: 20px;
}

li{
    list-style: none;
}
.inline-fields {
    display: flex;
    justify-content: space-between;
}

.inline-fields input {
    flex: 1; /* This makes each input take equal width in the container */
    margin-right: 10px; /* Adds a small gap between the fields */
}

.inline-fields input:last-child {
    margin-right: 0; /* Removes margin from the last input field */
}

input[type="text"], textarea {
    /* ... existing styles ... */
    width: 100%; /* Ensures inputs take full width of their container */
}
input[type="text"], textarea {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button#send {
    background-color: #daa520; /* Sake Gold */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

button#send:hover {
    background-color: #b8860b; /* Darker Gold */
}

#output {
    background-color: #fff0f5; /* Light Sakura Pink */
    color: #444;
    padding: 15px;
    margin-top: 20px;
}
